.c-file-manager.fm_dark {
  .c-box-shadow {
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.14),
      0 0 2px rgba(0, 0, 0, 0.12);
  }

  .v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
    border-bottom: 1px solid var(--color-border) !important;
  }

  .v-table {
    .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
    .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
      border-bottom: thin solid var(--color-border);
    }
  }
}
