.c-file-manager.fm_light {
  .c-toolbar-page_inner {
    background: #fff;
  }

  .c-context-menu_overlay {
    background: rgba(0, 0, 0, 0.1);
  }

  .c-context-menu_item {
    * {
      color: #666666;
    }
  }

  .c-btn {
    &:hover {
      opacity: 0.8;
    }
  }

  .c-btn-border {
    &:hover {
      background: var(--color-border-btn);
      color: var(--color-text) !important;
    }
  }

  .v-alert.bg-error .v-alert__prepend * {
    color: var(--color-white);
  }

  .c-breadcrumbs {
    background: var(--color-app-content);
  }

  @include brSpLandscape {
  }
}
