.c-btn {
  border-radius: 8px;
  padding: 6px 8px;
  min-width: 36px;
  height: 36px;
  transition: all 0.2s ease;
  outline: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
  @apply inline-flex items-center justify-center;
  &:hover {
    background-color: var(--color-hover-btn);
  }
  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  span {
    text-transform: none;
  }

  &-border {
    border: 1px solid var(--color-border-btn);
    color: var(--color-text);

    &:hover {
      border-color: var(--color-border);
      background: var(--color-black);
      color: #fff;

      * {
        color: #fff;
      }
    }

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);

      *,
      i.mdi::before {
        color: var(--color-primary);
      }

      &:hover {
        border-color: var(--color-primary);
        background: var(--color-primary);
        color: #fff;

        *,
        i.mdi::before {
          color: #fff;
        }
      }
    }
  }

  &-success {
    background-color: var(--color-success);

    *,
    i.mdi::before {
      color: var(--color-white);
    }

    &:hover {
      border-color: var(--color-success) !important;
    }
  }

  &-warning {
    background-color: var(--color-warning);

    * {
      color: var(--color-black);
    }

    &:hover {
      border-color: var(--color-warning);
    }
  }

  &-danger {
    background-color: var(--color-error);

    *,
    i.mdi::before {
      color: var(--color-white);
    }

    &:hover {
      border-color: var(--color-error);
    }
  }

  &-cancel {
    background-color: var(--color-cancel);

    * {
      color: var(--color-black);
    }

    &:hover {
      border-color: var(--color-cancel);
      background-color: #fbf8f8b0;
    }
  }

  &-primary {
    background-color: var(--color-primary);

    *,
    i.mdi::before {
      color: var(--color-white) !important;
    }

    &:hover {
      border-color: var(--color-primary-hover) !important;
      background-color: var(--color-primary-hover) !important;
    }
  }
}

.c-btn-icon {
  display: block;
  flex: none;
  min-width: 36px;
  height: 36px;
  border-radius: 8px;
  position: relative;
  &:hover {
    background-color: var(--color-hover-btn);
  }
  span {
    text-transform: none;
  }
}
