.c-treeview-folder {
  background: transparent !important;
  .v-list-item {
    height: 48px;
    &.active {
      background: var(--color-sidebar-active);
    }
    &:hover {
      background: var(--color-sidebar-overlay);
    }
    .v-list-item__overlay {
      display: none;
    }
  }
}

.v-treeview.v-list {
  --indent-padding: 8px;
}

.v-treeview-group.v-list-group {
  --list-indent-size: 8px;
}

.v-treeview-group.v-list-group .v-list-group__items .v-list-item {
  padding-inline-start: calc(var(--indent-padding) / 2) !important;
}
