@charset "utf-8";
//-------------------------------------------
// font family
//-------------------------------------------
$font-family: var(--font-inter-variant);
$font-size: 14px;
$font-size-small: 12px;

//-------------------------------------------
// Color
//-------------------------------------------
$cBase: var(--color-black);
$cBaseDark: var(--color-white);
$cAccent: '';
$cRed: #c51618;
$cWarning: #f7a40c;
$cPrimary: var(--color-primary);
$cScrollbar: var(--color-scrollbar);

// Density variables text field
$transition-duration: 0.2s;
$disabled-color: rgba(0, 0, 0, 0.38);
$height-default: 56px;
$height-comfortable: 48px;
$height-compact: 40px;

//-------------------------------------------
// Background Color
//-------------------------------------------
$bgColor: var(--color-app);
$bgColorDark: var(--color-dark);
$bgError: #fdede8;
$bgHistory: var(--color-history);

//-------------------------------------------
// Standard Text Color
//-------------------------------------------
$textColor: var(--color-text);
$textLabelColor: var(--color-text-label);
$textError: var(--color-error);
$textSuccess: var(--color-success);
$textWarning: var(--color-warning);
$textInfo: var(--color-info);
$textPrimary: var(--color-primary);
$textLink: var(--color-link);
$textLinkHover: var(--color-primary);

.c-file-manager {
  color: $textColor;
  font-family: $font-family;
  font-feature-settings: 'halt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  background-color: $bgColor;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */

  * {
    box-sizing: border-box;
    font-family: $font-family;
    letter-spacing: 0.1px;
  }

  @media (max-width: 767px) {
    background-color: var(--color-app-content);
  }

  i.mdi {
    font-size: 18px;
    line-height: 0.5rem;

    &::before {
      color: var(--color-text);
    }
  }
}

@media (min-width: 1200px) {
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-stone-400 rounded-full;
}

a {
  color: $textLink;
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $textLinkHover !important;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.text-error {
  color: var(--color-danger) !important;
}

.text-success {
  color: var(--color-success);
}

.v-field--error:not(.v-field--disabled) .v-label.v-field-label {
  color: var(--color-danger);
}

i.mdi-checkbox-marked {
  color: var(--color-text) !important;
}

.text-success {
  color: var(--color-success) !important;
}

input {
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--color-text-place) !important;
  }

  &:focus {
    &::placeholder {
      color: transparent !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

.v-alert {
  &.text-warning {
    * {
      color: rgb(var(--v-theme-warning)) !important;
    }
  }
  margin-bottom: 1rem;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bg-error {
  background-color: var(--color-danger) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.highlight-text {
  background: var(--bg-text-highlight);
  color: var(--color-text-highlight) !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */
}

.text-three-dots {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .text-place {
    color: var(--color-text-place) !important;
  }
}
