.fm_base {
  --Body-Large-Tracking: 0.5px;
  --Body-Medium-Tracking: 0.25px;
  --bg-text-highlight: #ffff00;
  --border-radius: 8px;
  --border-radius-2xl: 24px;
  --border-radius-full: 999px;
  --border-radius-lg: 16px;
  --border-radius-md: 12px;
  --border-radius-xl: 20px;
  --color-bg-header-upload-success: #144d44;
  --color-black-00: #000;
  --color-black-65: #000000a6;
  --color-buton-dropdown-active: #bddcfa;
  --color-buton-dropdown-hover: #86b6e5;

  --color-primary: #53bc88;
  --color-primary-2: #f7ac1a;
  --color-primary-hover: #87edbb;
  --color-sidebar-overlay: #acedcd;
  --color-success: #0e937a;
  --color-switch-thumb: #7d7d7d;
  --color-text-highlight: #000;
  --color-white: #fff;
  --font-monts: 'Montserrat', serif;
  --font-open-sans: 'Open Sans', serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --gap-block: 24px;
  --gap-inline: 10px;
  --Title-Bold-Tracking: 0.25px;
  --Title-Medium-Tracking: 0.15px;
  --Title-Tracking: 0.1px;
}

.fm_light {
  --color-active-context_menu: rgba(73, 73, 86, 0.15);
  --color-app: #e5e5ea;
  --color-app-content: #ffffff;
  --color-bg-switch: #373737;
  --color-bg-switch-active: #c7eddb;
  --color-bg-content-context-menu: #ffffff;
  --color-bg-error: #ffc1c9;
  --color-bg-ralet-infor: #bddcfa;
  --color-bg-ralet-success: #ccfbec;
  --color-bg-success: #15b39233;
  --color-bg-switch: #F2F2F;
  --color-bg-warning: #fdd8bd;
  --color-border: #f2f2f2;
  --color-border-btn: #b7b7bb;
  --color-border-checkbox: #838383;
  --color-border-context-menu: #cccccc;
  --color-border-error: #ff95a2;
  --color-border-primary: #d3d9df;
  --color-border-ralet-infor: #82bff7;
  --color-border-ralet-success: #5fe9c5;
  --color-border-success: #4caf50;
  --color-border-switch: #00000040;
  --color-border-warning: #fbaa70;
  --color-bordergray: #dfe5ef;
  --color-hover-btn: #cfddec;
  --color-bottom-nav: #211f26;
  --color-btn-submit: #b6d3f0;
  --color-cancel: #d9dbdd;
  --color-checkbox: #808589;
  --color-disabled: #d9d9d9;
  --color-dot-switch: #858585;
  --color-dot-switch-active: #53bc88;
  --color-dropdown: #fff;
  --color-danger: #ff0000;
  --color-error: #6d1f4a;
  --color-error-emphasis: #d5745b;
  --color-gray: #f6f9fc;
  --color-gray-700: #f9fafb;
  --color-header: #ffffff;
  --color-header-content-menu: #fff;
  --color-header-table: #eeeeeeff;
  --color-history: #0000000d;
  --color-history-active: #000;
  --color-hover-btn-toolbar: #d9d9d9;
  --color-hover-item-copy: #d9d9d9;
  --color-hover-tr-table: #f2f2f2;
  --color-hover-tr-table-active: #d9f4e8;
  --color-info: #539bff;
  --color-input: #fff;
  --color-link: #2a3547;
  --color-list-item: #00000026;
  --color-modal: #ffffff;
  --color-oranger: #a55e30;
  --color-primary-10: #eeeeee;
  --color-progress-bar: #fff;
  --color-scrollbar: #909090;
  --color-search-global: #d9d9d9;
  --color-search-global-hover: #ececec;
  --color-sidebar-active: #85e9b8;
  --color-sidebar-overlay: #acedcd;
  --color-storage: #00000026;
  --color-stroke: #c7c7c7;
  --color-success-emphasis: #10bd9d;
  --color-table: #fff;
  --color-table-hover: #ebf3fc;
  --color-text: rgba(0, 0, 0, 0.6);
  --color-text-35: #00000073;
  --color-text-60: #00000060;
  --color-text-85: #000000d9;
  --color-text-checkbox: #e9f2fa;
  --color-text-label: #00000099;
  --color-text-place: #9292924c;
  --color-thead-table: #eeeeee;
  --color-title: #000;
  --color-title-page: #00000099;
  --color-warning: rgba(182, 141, 93, 0.69);
  --color-warning-emphasis: #d9941a;
  --color--tr-table-active-sp: #cee2f5;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fm_dark {
  --color-active-context_menu: #ffffff26;
  --color-app: #0c121f;
  --color-app-content: #1f2937;
  --color-bg-content-context-menu: #212121;
  --color-bg-error: #d6001b33;
  --color-bg-ralet-infor: #125d51;
  --color-bg-ralet-success: #125d51;
  --color-bg-success: #15b39233;
  --color-bg-switch: #373737;
  --color-bg-switch-active: #0a6ccb;
  --color-bg-warning: #4b250b;
  --color-black: #121212;
  --color-border: #ffffff0d;
  --color-border-btn: #333333;
  --color-border-checkbox: #8c8c8c;
  --color-border-context-menu: #4d4d4d;
  --color-border-error: #900c1d;
  --color-border-primary: #435972;
  --color-border-ralet-infor: #0a6ccb;
  --color-border-ralet-success: #0e937a;
  --color-border-success: #4caf50;
  --color-border-switch: #696969;
  --color-border-warning: #a25017;
  --color-bordergray: #424242;
  --color-bottom-nav: #211f26;
  --color-btn-submit: #102d4a;
  --color-cancel: #d9d9d952;
  --color-checkbox: #97a7b7;
  --color-disabled: #424242;
  --color-dot-switch: #858585;
  --color-dot-switch-active: #9dc4ea;
  --color-dropdown: #121212;
  --color-danger: #ab3b49;
  --color-error: #511938;
  --color-gray: #53535694;
  --color-gray-700: #374151;
  --color-header: #273142;
  --color-header-content-menu: #1d1b20;
  --color-header-table: #000000ff;
  --color-history: #ffffff1a;
  --color-history-active: #f1f1f1;
  --color-hover-btn: #495562;
  --color-hover-btn-toolbar: #3d3d3d;
  --color-hover-item-copy: #2f4662;
  --color-hover-tr-table: #495562;
  --color-hover-tr-table-active: #2d515a;
  --color-info: #223662;
  --color-input: rgba(255, 255, 255, 0.1);
  --color-link: #6686b6;
  --color-list-item: #ffffff1a;
  --color-modal: #22314b;
  --color-oranger: #a55e30;
  --color-primary-10: #223c59;
  --color-progress-bar: #212121;
  --color-scrollbar: #909090;
  --color-search-global: #1b202d;
  --color-search-global-hover: #495562;
  --color-sidebar-active: #495562;
  --color-sidebar-overlay: rgba(146, 146, 146, 25%);
  --color-storage: #ffffff26;
  --color-stroke: #c7c7c7;
  --color-table: #0d0d0d;
  --color-table-hover: #34384e80;
  --color-text: rgba(255, 255, 255, 0.6);
  --color-text-35: #ffffff59;
  --color-text-60: #ffffff60;
  --color-text-85: #ffffffdb;
  --color-text-checkbox: #193c5e;
  --color-text-label: #ffffff99;
  --color-text-place: #ffffff59;
  --color-thead-table: #212121;
  --color-title: #fff;
  --color-title-page: #ffffffdb;
  --color-warning: #52403c;
  --color-warning-emphasis: #f7a40c;
  --color--tr-table-active-sp: #1c3043;
  --shadow: 0px 6px 10px 4px #00000026;
}
