.d-circular-loader {
  &__loader {
    border-radius: 50%;
    box-sizing: border-box;
    animation: loader 0.7s infinite linear;
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
