.c-context-menu {
  background: var(--color-bg-content-context-menu) !important;
  border-radius: 8px;
  min-width: 200px;
  overflow: hidden;
  &_list {
    background: transparent !important;
    border-radius: 8px;
  }

  .v-list-group__items .v-list-item {
    padding-inline-start: calc(0px + var(--indent-padding)) !important;
  }

  &_item {
    min-height: 36px !important;
    .v-list-item-title {
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
