.d-table-virtual {
  background: var(--color-app-content);
  height: calc(100% - 46px) !important;
  border: 1px solid var(--color-border);
  &_wrapper {
    display: inline;
    @apply relative;
  }

  &__selected {
    background: var(--color-hover-tr-table-active) !important;
    border-bottom: thin solid var(--color-hover-tr-table-active) !important;
    &-one {
      .d-table-virtual {
        &__group-actions {
          .c-btn {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &__hovered {
    background: var(--color-hover-tr-table);
    .d-table-virtual {
      &__group-actions {
        .c-btn {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__group-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    .c-btn {
      opacity: 0;
      visibility: hidden;
      &.actions_more {
        opacity: 1;
        visibility: visible;
        &.disabled {
          opacity: 0.6;
        }
      }
    }
  }

  &__col-checkbox {
    padding: 0 8px !important;
  }

  &_loading-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba($color: var(--color-app-content), $alpha: 0.1);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_header-selected {
    @apply absolute top-0 left-0 z-50;
    @apply w-full px-3 min-h-[46px];
    @apply flex items-center;
    background: var(--color-app-content);
    border-top: 1px solid var(--color-border);
  }

  .v-table__wrapper {
    > table {
      background: var(--color-app-content);
      > thead {
        > tr {
          > th {
            background-color: var(--color-thead-table);
            opacity: 1 !important;
          }
        }
      }
      > tbody {
        > tr {
          &:not(:last-child) {
            > td {
              border-bottom: thin solid var(--color-border) !important;
            }
          }
          &.d-table-virtual__selected {
            > td {
              border-bottom: thin solid var(--color-hover-tr-table-active) !important;
            }
          }
          &:not(:first-child) {
            > td {
              height: 46px !important;
            }
          }
          &:last-child {
            > td {
              border-bottom: none !important;
              height: 0 !important;
            }
          }
          &.v-data-table-rows-no-data {
            > td {
              border-bottom: none !important;
            }
            &:hover {
              > td::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .v-data-table-virtual {
    will-change: transform;
    overflow-y: auto;
    contain: strict; /* Giới hạn vùng render */
  }

  .v-data-table__tr {
    contain: layout paint; /* Tối ưu từng hàng */
  }

  @include brSpLandscape {
    height: calc(100% - 50px);
    border-radius: 0 !important;
    border: none;

    .v-selection-control__input::before {
      background-color: transparent;
    }
    .v-ripple__animation--in {
      opacity: 0;
    }
  }
}
