.c-file-manager_toolbar {
  border-bottom: 0;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem /* 4px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  border-bottom: 1px solid var(--color-border);
  &_group {
    min-height: 46px;
  }

  &_group,
  &_group_block,
  .group_default {
    display: flex;
    align-items: center;
    gap: 0.25rem /* 4px */;

    &.group_left {
      margin-right: 0.25rem /* 4px */;
      flex: 1;
    }
    &.group_right {
      + div {
        flex: 1;
      }
    }
  }
  &_group_block {
    border-left: 1px solid var(--color-border);
    &.left {
      flex: 1;
    }
  }

  @include brSpLandscape {
    @apply justify-start flex-col-reverse px-0 gap-0;
    border: none;
    &_group {
      @apply w-full;
      &.group_left {
        margin-right: 0;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
      }
    }
    .group_default {
      &.group_right {
      }
    }
    &_group_block {
      &.left {
        border-left: 0;
      }
    }
  }
}
