.c-file-manager {
  overflow: hidden;
  background: var(--color-app-content);
  border: none !important;
  position: relative;
  height: 100%;

  * {
    color: var(--color-text);
    font-size: 14px;
  }

  .c-toolbar-page {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  &_name-file {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    &_left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      i.mdi {
        font-size: 32px;
        &::before {
          font-size: 32px;
        }
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        white-space: normal;
      }
    }

    &_btn-menu {
      opacity: 0;
      visibility: hidden;
      min-width: 30px;

      span.mdi {
        font-size: 24px;
      }
    }
  }

  &_date {
    font-weight: 500;
  }

  &_path {
    gap: 0.5rem;
    display: flex;
    align-items: center;
  }

  &_shared {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    *,
    i.mdi::before {
      color: var(--color-primary) !important;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_name-file {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-open-sans);

    &_icon-tag {
      font-size: 18px;
    }
  }

  &-toolbar {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-2xl);
    padding: 0 10px;
    background: var(--color-app-content);
    gap: 10px;

    &_left {
      flex: 1;
    }
  }
}

@include brTablet {
  .c-file-manager td {
    height: 46px;
  }
  .c-file-manager_thumbnail {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.25rem;
    > img {
      width: 26px;
    }
  }
  .c-file-manager_thumbnail_icon-tag {
    font-size: 16px;
  }
}

@include brSpLandscape {
  .c-file-manager_thumbnail {
    > img {
      width: 56px;
    }
  }

  .c-file-manager_name-file_left h3 {
    font-size: 12px;
  }
  .c-file-manager_name-file_left {
    > img {
      width: 48px;
      height: 48px;
    }
  }

  .c-file-manager i:before {
    font-size: 16px;
    line-height: 24px;
  }

  .c-file-manager_toolbar {
    margin-bottom: 0;
  }

  .c-file-manager_name-file_left {
    .content {
      max-width: 100%;

      > h3 {
        color: var(--color-text-85);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
      }

      p {
        span {
          font-size: 14px;
          color: var(--color-text-label);
        }
      }
    }
  }
  .c-file-manager_name-file_btn-menu-sp {
    span.mdi {
      font-size: 20px;
    }
  }
}
