%footer-action {
  position: sticky;
  bottom: 0;
  backdrop-filter: blur(5px);
}

.c-dialog {
  width: 549px;
  max-width: 100%;
  * {
    font-size: 14px;
    line-height: normal;
  }

  &[top] {
    .v-overlay__content {
      top: 0;
      @include brSpLandscape {
        top: unset;
      }
    }
  }

  .v-card {
    padding: 0;
  }

  .v-card-text,
  .v-card-actions {
    padding: 16px 16px 0 !important;
  }

  .v-card-title {
    min-height: 35px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px !important;

    h3 {
      flex: 1;
      color: var(--color-title);
      font-size: 18px;
    }

    &::after {
      bottom: 0;
    }
  }

  &_card {
    border-radius: var(--border-radius-2xl) !important;
    background: var(--color-modal);
    overflow: hidden;

    .v-card-title,
    .c-btn {
      color: var(--color-text);
    }

    * {
      color: var(--color-text);
    }

    .v-card-text {
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .c-card {
    > .v-card-title {
      border-bottom: 1px solid var(--color-border);
    }
  }

  .v-card-actions {
    min-height: auto;
    padding-top: 0.5rem !important;
  }

  .footer-action {
    display: flex;
    padding: 0.85rem 0;
    background-color: rgba(white, 0.25);
    @extend %footer-action;
  }

  .c-btn {
    border-radius: var(--border-radius-full);
  }

  &_gr-action {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;

    .c-btn {
      padding: 0 24px;
      height: 40px !important;
    }

    &::after {
      top: 0;
    }
  }

  .v-card-title,
  &_gr-action {
    position: sticky;
    bottom: 0;
    overflow: visible;
    z-index: 10;
    background: var(--color-modal);

    &::after {
      content: '';
      position: absolute;
      left: -10%;
      width: 120%;
      height: 1px;
      background-color: var(--color-border);
    }
  }
}
