.c-detail-modal {
  .c-detail {
    &-content-wrapper {
      width: 100%;
      border-radius: 8px;
      position: relative;
    }
    &-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-with-icon {
        align-items: center;
      }
    }
    &-label {
      font-size: 14px;
      &-with-icon {
        display: flex;
        align-items: center;
        gap: 4px;

        i {
          font-size: 10px;
          color: #ffffff;
        }
      }
    }
    &-value {
      font-size: 14px;
      font-weight: 600;
      color: var(--color-text-85);
      text-align: right;
      max-width: 80%;

      &.truncate {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
